@font-face {
    font-family: 'stanberry';
    src: url('src/fonts/stanberry-webfont.eot?#iefix') format('embedded-opentype'), url('src/fonts/stanberry-webfont.woff') format('woff'), url('src/fonts/stanberry-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    min-height: 100%;
}

body {
    font-family: 'stanberry', Helvetica, Arial, sans-serif;
    font-size: 10pt;
    background: url('src/hud/background.jpg');
    border: none;
    margin: 0;
    padding: 0;
}

.topLeft {
    position: fixed;
    left: 0;
    top: 0;
}

.canvasDrawable {
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 400px;
    margin: 0;
    padding: 0;
}