lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

server/docs/database.mwb.bak

*.sublime-workspace

*.sublime-project

server/code/.idea
client/code/.idea

/client/code/Client.iml
/server/code/Server.iml
.DS_Store

/client/code/src
